<div class="container">
    <div class="row">
        <div class="col-md">
            <form action="" [formGroup]="deleteForm" (ngSubmit)="deleteProd()">
                <div class="form-group mt-5">
                    <label for="" class="form-label">Product Id:</label>
                    <input type="text" formControlName="productId" placeholder="enter id...." class="form-control">
                </div>
                <div class="form-label">
                    <button type="submit" class="btn btn-lg bg-danger text-white mt-5">Delete the item</button>
                </div>
            </form>
        </div>
    </div>
</div>
<h1>{{j.value}}</h1>
<div class="row g-4">
    <div class="col-md-4" *ngFor="let p of ja">
        <div class="card border-0">
            <div class="card-img-top">
                <img [src]="p.image" alt="">
            </div>
            <div class="card-body">
                {{p.price}}
                {{p.title}}
            </div>
        </div>
    </div>
</div>